block header
+navbar("Cascade-Saaransh","dropdown_menu")
  +nav_divider
  +nav_divider
  +nav_divider
  +nav_item("/") Explore Cascades
  +nav_item("/statistics") Compare Cascade Statistics
  +nav_item("/patterns") Explore Patterns
  +nav_divider
  +nav_item("/about") About
