extends layout

block content
  div.container-fluid 
    //- page-body-wrapper 
    //- h2#header Cascade-Saaransh
    div#root
block scripts
  script(src="js/cascades-data.js")
  script(src="js/cascades.js")