doctype html
html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport",content="width=device-width, initial-scale=1")
      meta(name="description",content="")
      meta(name="author",content="")
      link(rel="icon",href="../../favicon.ico")
      title= title
      block styles
      //-link(rel="stylesheet",href="stylesheets/bootstrap.css")
      link(rel="stylesheet",href="stylesheets/react-table.css")
      link(rel="stylesheet",href="stylesheets/index.css")
      link(rel="stylesheet",href="stylesheets/material-dashboard-react.css")
      //-link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
      link(rel="stylesheet",href="stylesheets/font-awesome.min.css")
      link(rel="stylesheet",href="stylesheets/style.css")
  //- body(data-spy="scroll",data-target=".scrollspy")
  body
    block content
    block scripts

